[tool.black]
line-length = 120
target-version = ["py312"]
skip-string-normalization = true
preview = true

# Exclude common junk + virtual environments
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.ruff_cache
  | \.pytest_cache
  | \.venv
  | venv
  | env
  | build
  | dist
  | migrations
  | __pycache__
)/
'''
